name: Build

on:
  pull_request:
    branches:
      - * # Set a branch name to trigger deployment

jobs:
  build:
    name: Build
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0 # Fetch all history for .GitInfo and .Lastmod

      - name: Install
        run: yarn install

      - name: Build
        run: yarn build
